In [8]:
import pandas as pd

import os
import sys
src_dir = os.path.join(os.getcwd(), '..', 'src')
sys.path.append(src_dir)

In [9]:
df = pd.read_csv('../data/interim/data_dropped.csv', sep = ';')

In [10]:
df.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3

In [4]:
from data.categorize_data import get_drop_cols
get_drop_cols()

ValueError: attempted relative import beyond top-level package

In [38]:
from data.categorize_data import get_label_cols

ValueError: attempted relative import beyond top-level package

In [11]:
label_col = get_config('data_categorization.yaml', 'label_cols')

In [12]:
label_col

['damage_grade']

In [14]:
X = df.drop(label_col, axis = 1)
y = df[label_col]

In [18]:
X.shape, y.shape

((260601, 38), (260601, 1))

In [22]:
random_state = get_config('global_parameters.yaml', 'random_state')

In [23]:
random_state

42

In [25]:
test_size = get_config('global_parameters.yaml', 'test_size')

In [26]:
test_size

0.33

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state, stratify = y )

NameError: name 'X' is not defined

In [18]:
import sys

sys.path.append("..")

from src.utils.get_config import get_config 
from src.data.categorize_data import get_label_cols

In [19]:
def split_data(df):
    label_col = get_label_cols()
    X = df.drop(label_col, axis = 1)
    y = df[label_col]
    
    random_state = get_config('global_parameters.yaml', 'random_state')
    test_size = get_config('global_parameters.yaml', 'test_size')
    stratify = get_config('global_parameters.yaml', 'stratify')
    if stratify == True:
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state,
                                                            stratify = y )
    else : 
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)
    
    return X_train, X_test, y_train, y_test

In [20]:
X_train, X_test, y_train, y_test = split_data(df)

In [21]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((174602, 38), (85999, 38), (174602, 1), (85999, 1))